#### A for loop is used for iterating over a sequence

#### This word is used to repeat a task multiple times.

In [1]:
#Table of 2
lst=[1,'Navdeep',True,'Learn AI']
for i in lst:
    print(i)

1
Navdeep
True
Learn AI

In [8]:
# Print quare upto n digit
#n= 20 it go from (0to 19)
n=int(input())
for i in range(n+1):
    print(f'{i} = {i*i}')

20
0 = 0
1 = 1
2 = 4
3 = 9
4 = 16
5 = 25
6 = 36
7 = 49
8 = 64
9 = 81
10 = 100
11 = 121
12 = 144
13 = 169
14 = 196
15 = 225
16 = 256
17 = 289
18 = 324
19 = 361
20 = 400

In [11]:
# write table
n=int(input("Enter the number you want to print table"))
j=int(input("Enter the range of table"))
for i in range(1,j+1):
    print(f'{n}*{i} = {n*i}')

Enter the number you want to print table67
Enter the range of table20
67*1 = 67
67*2 = 134
67*3 = 201
67*4 = 268
67*5 = 335
67*6 = 402
67*7 = 469
67*8 = 536
67*9 = 603
67*10 = 670
67*11 = 737
67*12 = 804
67*13 = 871
67*14 = 938
67*15 = 1005
67*16 = 1072
67*17 = 1139
67*18 = 1206
67*19 = 1273
67*20 = 1340

In [12]:
#First n odd number
n=int(input('Enter the last odd number'))
for i in range(1,n+1,2):
    print(i)

Enter the last odd number49
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49